{% extends "base.html" %}

{% block title %}Biz haqimizda{% endblock %}

{% block about %}

{% load static %}

 <!--Page Title-->
 <section class="page-title centred" style="background-image: url({% static 'images/background/page-title.jpg'%});">
    <div class="container">
        <div class="content-box">
            <h1>Biz haqimizda</h1>
            <ul class="bread-crumb clearfix">
                <li><a href={% url 'home' %}>Home</a></li>
                <li>Biz haqimizda</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->


<!-- about-section -->
<section class="about-section style-two">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
        <div class="icon icon-3"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="sec-title style-two">
                        <h5>Biz haqimizda</h5>
                        <h1>Welcome to Kidko Kindergarten</h1>
                    </div>
                    <div class="bold-text">Cupidatat non proident sunt culpa qui officia deserunt mollit anim idest laborum</div>
                    <div class="text">
                        <p>Cupidatat non proident sunt culpa qui officia deserunt mollit anim idest laborum sed ut perspiciatis unde omnis iste natuserror sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.</p>
                    </div>
                    <div class="btn-box"><a href="contact.html" class="theme-btn">Contact us</a></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image image-1"><img src="{% static 'images/resource/about-6.jpg' %}" alt="photo"></figure>
                    <figure class="image image-2"><img src="{% static 'images/resource/about-5.jpg' %}" alt="photo"></figure>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about-section end -->

{% endblock about %}