{% extends "base.html" %}

{% block title %}contact{% endblock %}

{% block contact %}

{% load static %}

 <!--Page Title-->
 <section class="page-title centred" style="background-image: url({% static 'images/background/page-title.jpg'%});">
    <div class="container">
        <div class="content-box">
            <h1>Aloqa</h1>
            <ul class="bread-crumb clearfix">
                <li><a href={% url 'home' %}>Home</a></li>
                <li>Aloqa</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

 <!-- contact-info-section -->
 <section class="contact-info-section sec-pad centred">
    <div class="container">
        <div class="sec-title">
            <h5>Aloqa</h5>
            <h1>Biz bilan bog'laning</h1>
        </div>
        <div class="row">
        {% for x in aloqa %}
            <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                <div class="single-info-box wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-address"></i></div>
                        <h3>Bizning manzil</h3>
                        <div class="text">{{ x.manzil }}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                <div class="single-info-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-vintage-hand-phone"></i></div>
                        <h3>Telfon raqam</h3>
                        <div class="text">
                            <a href="tel:(+55)654-545-5418">{{ x.tel }}</a><br />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 info-column">
                <div class="single-info-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <div class="icon-box"><i class="flaticon-mail"></i></div>
                        <h3>Pochta manzil</h3>
                        <div class="text">
                            <a href="mailto:info@example.com">{{ x.pochta }}</a><br />
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<!-- contact-info-section end -->


{% endblock contact %}