{% extends "base.html" %}

{% block title %}navbahormtb.uz{% endblock %}

{% block home %}

{% load static %}

<!-- main-slider -->
<section class="main-slider">
    <div class="main-slider-carousel owl-carousel owl-theme nav-style-one">
    {% for x in asosiy_rasimlar %}
        <div class="slide" style="background-image:url({{ x.img_1.url }})"></div>
        {% if x.img_2 %}
           <div class="slide" style="background-image:url({{ x.img_2.url }})"></div>
        {% endif %}
        {% if x.img_3 %}
           <div class="slide" style="background-image:url({{ x.img_3.url }})"></div>
        {% endif %}
    {% endfor %}
    </div>
</section>
<!-- main-slider end -->


<!-- about-section -->
<section class="about-section">
    <div class="anim-icon">
        <div class="icon icon-1 float-bob-x"></div>
        <div class="icon icon-2 wow zoomIn" data-wow-delay="00ms" data-wow-duration="1500ms"></div>
        <div class="icon icon-3"></div>
    </div>
    <div class="container">
        <div class="row">
            {% for x in biz %}
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                <div class="image-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <figure class="image image-1"><img src="{{ x.img_1.url }}" alt="photo"></figure>
                    <figure class="image image-2"><img src="{{ x.img_2.url }}" alt="photo"></figure>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                <div class="content-box">
                    <div class="sec-title style-two">
                        <h5>Biz haqimizda</h5>
                        <h1>NAVBAHOR TUMAN MAKTABGACHA TA‘LIM BO‘LIMI</h1>
                    </div>
                    <div class="text">
                        <p>{{ x.biz_haqimizda }}</p>
                    </div>
                    <div class="btn-box"><a href={% url 'aloqa' %} class="theme-btn">Aloqa</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- about-section end -->


<!-- news-section -->
<section class="news-section blog-page-section">
    <div class="container">
        <div class="row">
        {% for x in tadbir %}
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="/tadbir/{{ x.id }}"><img src="{{ x.img_1.url }}" alt="photo"></a></figure>
                        <div class="lower-content">
                            <h3><a href="/tadbir/{{ x.id }}">{{ x.sarlavha}}</a></h3>
                            <ul class="info-box">
                                <li>{{ x.yaratilish_vaqti }}</li>
                            </ul>
                            <div class="text">{{ x.tavsifi|slice:"55"}}...</div>
                            <div class="link-btn"><a href="/tadbir/{{ x.id }}"><i class="flaticon-next"></i></a></div>
                            <div class="more-btn"><a href="/tadbir/{{ x.id }}" class="theme-btn">Batafsil</a></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} 
        </div>
    </div>
</section>
<!-- news-section end -->

{% endblock home %}