{% extends "base.html" %}

{% block title %}Tadbirlar{% endblock %}

{% block tadbirlar %}

{% load static %}

 <!--Page Title-->
 <section class="page-title centred" style="background-image: url({% static 'images/background/page-title.jpg'%});">
    <div class="container">
        <div class="content-box">
            <h1>Tadbirlar</h1>
            <ul class="bread-crumb clearfix">
                <li><a href={% url 'home' %}>Home</a></li>
                <li>Tadbirlar</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

 <!-- news-section -->
 <section class="news-section blog-page-section">
    <div class="container">
        <div class="row">
        {% for x in tadbir %}
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="/tadbir/{{ x.id }}"><img src="{{ x.img_1.url }}" alt="photo"></a></figure>
                        <div class="lower-content">
                            <h3><a href="/tadbir/{{ x.id }}">{{ x.sarlavha}}</a></h3>
                            <ul class="info-box">
                                <li>{{ x.yaratilish_vaqti }}</li>
                            </ul>
                            <div class="text">{{ x.tavsifi|slice:"55"}}...</div>
                            <div class="link-btn"><a href="/tadbir/{{ x.id }}"><i class="flaticon-next"></i></a></div>
                            <div class="more-btn"><a href="/tadbir/{{ x.id }}" class="theme-btn">Batafsil</a></div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %} 
        </div>
    </div>
</section>
<!-- news-section end -->

{% endblock tadbirlar %}